.white {
    color: white;
}
.bg-white {
    background-color: white;
}

.black {
    color: black;
}
.bg-black {
    background-color: black;
}

.red {
    color: red;
}
.bg-red {
    background-color: red;
}