.home-content {
    padding: 1.5vw;

    width: 100vw;
    height: 100vh;
}

.home-content h1 {
    font-size: 3vw;
}

.quizzes-container {
    width: 100vw;
}

.quizzes-container li {
    width: 15vw;
    height: 15vh;

    font-size: 2vw;

    border: 2px solid lightgray;
    border-radius: 8px;

    transition: background-color 0.2s ease-in-out;
}

.quizzes-container li:hover {
    background-color: rgb(195, 195, 195);
}