/* restucture this later */
.quizcomponent {
  width: 500px;
  box-shadow: 0px 4px 0px 0px lightgray;
  border: 2px solid lightgray;
  border-radius: 8px;
  margin: 20px;
  padding: 10px;
}

.quizbuttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
  --color: lightgrey;
}

.correct {
    background: #e8ffe8;
    --color: #28b528;
}

.incorrect {
  --color: #b5382b;
  background: #ffe8e8;
}

button {
  box-shadow: 0px 2px 0px 0px var(--color);
  border: 1px solid var(--color);
  border-radius: 4px;
  background: white;
  padding: 0 10px;
}

.quizbuttons button {
  width: calc(50% - 5px);
}

button:active {
  box-shadow: 0 0 0 0 lightgray;
  transform: translateY(2px);
}

details p {
  margin-left: 3px;
  border-left: 3px solid lightgrey;
  padding-left: 10px;
}
