.questions-container {
  width: 100vw;
  height: 100vh;
}

.quiz-card {
  position: absolute;

  width: 40vw;

  padding: calc(1vw + 0.5vh);

  box-shadow: 0px 4px 0px 0px lightgray;
  border: 2px solid lightgray;
  border-radius: 8px;

  gap: 1vh;
}

.quiz-buttons {
  width: 100%;

  margin-top: 1.2vh;
  margin-bottom: 1.2vh;

  display: flex;
  flex-wrap: wrap;

  gap: 0.5vw;

  --color: lightgrey;
}

/* maybe button specific class? */
.quiz-buttons button, .text-answer-rate button {
  width: calc(50% - 5px);

  padding: 0 10px;

  box-shadow: 0px 2px 0px 0px var(--color);
  border: 1px solid var(--color);
  border-radius: 4px;

  background: white;
}

.quiz-buttons button:active, .text-answer-rate button:active {
  box-shadow: 0 0 0 0 lightgray;
  transform: translateY(2px);
}

.correct {
  background: #e8ffe8 !important;
  --color: #28b528;
}

.incorrect {
  background: #ffe8e8 !important;
  --color: #b5382b;
}

.text-answer-rate {
    --color: lightgrey;
}

details p {
  margin-left: 3px;
  padding-left: 10px;

  border-left: 3px solid lightgrey;
}

@media screen and (max-width: 540px) {
  .quiz-card {
    width: 50vw;
  }

  /* Makes the second the second row of buttons have a margin*/
  .quiz-buttons button:not(:first-child and :nth-child(2)) {
    margin-top: 0.5vw;
  }
}

/* Question set progress bar */
.quiz-progress {
  width: calc(100% + 2px);
  height: 8px;
  margin: 0;
  position: absolute;
  top: -1px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  left: -1px;
}

.quiz-progress::-webkit-slider-thumb,
.quiz-progress::-moz-range-thumb,
.quiz-progress::-ms-thumb {
    opacity:0;
}
